@font-face {
	font-family: 'Museo Sans Cyrl 100';
	src: url('../fonts/museosanscyrl-webfont.woff2') format('woff2'),
	url('../fonts/museosanscyrl-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #c5c5c8 url("../nike_product_card_dark-assets/img_bg.svg");
	background-size: cover;
	font-family: 'Museo Sans Cyrl 100', sans-serif;
	color: #e1e1e1;
	position: relative;
}

.ba-main{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 686px;
	height: 391px;
	box-shadow: 0 0 65px rgba(0, 0, 0, 0.82);
	border-radius: 10px;
	background-color: #111a28;
	font-size: 0;
}

.ba-product {
	position: relative;
	width: 444px;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.ba-brand {
	padding-top: 24px;
	padding-left: 21px;
}

.ba-product__slider {
	position: absolute;
	top: 126px;
	left: 36px;
}

.ba-product__slider:hover{
	transform: scale(1.1);
}

.ba-product__btn {
	position: absolute;
	bottom:  23px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

.bullet {
	outline: none;
	border-radius: 50%;
	width: 13px;
	height: 13px;
	border: 2px solid #111a28;
	margin: 2px;
}

.bullet:first-child{
	background: #1f273f;
}

.bullet:nth-child(2){
	background: #ffffff;
}

.bullet:nth-child(3){
	background: #ed3333;
}

.bullet:last-child{
	background: #29e3ea;
}

.bullet:hover {
	border: solid 2px #7e838b;
}
.ba-info {
	position: relative;
	width: 242px;
	display: inline-block;
	height: 100%;
	vertical-align: top;
}
.ba-info h1{
	position: absolute;
	margin: 0;
	top: 78px;
	font-size: 24px;
	width: 155px;
}

.ba-info p{
	position: absolute;
	margin: 0;
	top: 138px;
	font-size: 14px;
	opacity: .54;
}

.ba-info__rating{
	position: absolute;
	top: 176px;

}
.ba-info__star {
	border: none;
	outline: none;
	background: url("../nike_product_card_dark-assets/star.png");
	width: 12px;
	height: 12px;
	margin-right: 3px;
	top: 176px;
	opacity: .59;
}

.ba-info__star--active,
.ba-info__star:hover{
	background: url("../nike_product_card_dark-assets/star-active.png");
	opacity: 1;
}

.ba-info__buying {
	position: absolute;
	top: 215px;
	font-size: 14px;

}

.ba-buying__btn{
	outline: none;
	background: none;
	border: 1px solid rgba(255, 255, 255, .26);
	color: rgba(255, 255, 255, .59);
}

.ba-btn__size{
	background-color: #111a28;
	width: 69px;
	height: 32px;
	-webkit-appearance: none;
	background-image: url("../nike_product_card_dark-assets/marker.png");
	background-position: 80% center;
	background-repeat: no-repeat;
	padding-left: 14px;
	-moz-appearance: none;
	text-overflow: '';
	line-height: 1em;
	margin-bottom: 29px;
}

.ba-btn__qty{
	background-color: #111a28;
	width: 69px;
	height: 32px;
	-webkit-appearance: none;
	background-image: url("../nike_product_card_dark-assets/marker.png");
	background-position: 80% center;
	background-repeat: no-repeat;
	padding-left: 14px;
	-moz-appearance: none;
	text-overflow: '';
	line-height: 1em;
}

.ba-btn__add{
	width: 184px;
	height: 40px;
	border: 1px solid rgba(255, 255, 255, .26);
	color: rgba(255, 255, 255, .59);
	background-color: #4c525a;

}

.ba-btn__add:hover{
	background-color: rgba(237, 51, 51, .26);
}
